---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Board - FinalNeoDev" hideFooter={true}>
  <div class="w-full h-[calc(100vh-100px)] min-h-[500px]">
    <iframe 
      src="https://fnnas.synology.me:22002/" 
      class="w-full h-full border-none block"
      title="FinalNeoDev Bulletin Board">
    </iframe>
  </div>
</DefaultLayout>
